ARM_CLIENT_ID=
ARM_CLIENT_SECRET=
ARM_TENANT_ID=
ARM_SUBSCRIPTION_ID=

# Opcional: variables Terraform equivalentes a terraform.tfvars
TF_VAR_project=northwind
TF_VAR_environment=mvp
TF_VAR_location=eastus
TF_VAR_owner=equipo-cloud-iimas
TF_VAR_cost_center=CloudClass
TF_VAR_criticality=low
TF_VAR_workload=PrivateIntranet
